//- pug -w C:/proyectos/paginaWeb/pug -o C:/proyectos/paginaWeb/html -P

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../css/index.css")
        title Dental Salazar
        script(src="../js")
    body
        nav
          ul 
              li.start   
                a(href="inicio.html") 
                    | Inicio
              .line
              li
               a(href="servicios.html")
                    | Servicios
              li 
                a(href="conocenos.html")
                    | Conocenos
              li 
                a(href="artículos.html")
                    | Artículos  
          a  
                .circle
                    .c2
                    .cross
                        .cross2