//- pug -w C:/proyectos/paginaWeb/pug -o C:/proyectos/paginaWeb/html -P
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../css/index.css")
        title Dental Salazar
    body
        nav 
          ul 
              li.start Inicio   
              .line
              li Servicios
              li Conocenos
              li Artículos  
          .circle
            .cross
            .cross2